.photo_comment{
	resize:none;
	height:100px;
}

#pointer_photo_table_id td,#pointer_photo_table_id th{
	text-align:center;
	vertical-align: middle;
	border:0px;
}
#image_manage .modal-dialog{
	width:60%;
}
#pointer_photo_table_id td img{
	padding:0px;
}
#pointer_photo_table_id{
	border:0px;
}
.pointer_image_class{
	height:100px;
	width:100px;
}
#new_image_id{
	width:100%;
}
.image_td{
	width:100px !important;
	height:100px !important;
}
.photo_comment{
	float:right;
}
.up_bt:hover,.down_bt:hover{
	cursor:pointer;
}
#pointer_images  ul{
	display:inline-flex;
	margin:0;
}
#pointer_images{
	width:100%;
	overflow:hidden;
	overflow-x:auto;
	margin-bottom:10px;
    min-height:70px;
}
#pointer_images  ul li{
	display:inline;
}
#pointer_images  ul li img{
	width:50px;
	height:50px;
	margin-left:2px;
    border: rgb(161, 161, 161) 1px solid;
}
#pointer_photo_link_id{
	padding:0px;
	width:100%;
}
.row div{
	padding:0;
}
.pointer_show_status{
	margin:0 5px 0 0 !important;
	vertical-align:middle;
}
#pointer_display_status_id label{
	margin:0 20px 0 0;
}

#image_manage > div > div > div.modal-body {
	max-height:480px;
	overflow-y:scroll;
    overflow-x:hidden;
}
.modal-header{
    padding:0 15px;
}
.for_scroll_form{
	height:inherit;
	overflow:auto;
	overflow-x: hidden;
}

#loading_status img{
	width:20px;
	height:20px;
	margin-right:20px;
}
#map-panel > div > div.panel.layout-panel.layout-panel-east.layout-split-east.ui-resizable > div.panel-body.layout-body > div > form
{
	color: #383D3C;
	padding:0px;
}
#pointer_content_id{
	width:100%;
    min-height: 100px;
	resize: vertical;
    border:#d5d5d5 1px solid;
    padding: 5px;
}
#pointer_extra_id{
	width:100%;
	resize: vertical;
	
}
label.control-label{
	padding:0px !important;
	margin:0px !important;
}
#pointer_display_status_id{
	font-size:14px;
}
#pointer_display_status_id span{
	margin-right:20px;
}
#pointer_register_id {
	margin-left: 122px;
	margin-right: 20px;
	padding:0px;
}
#pointer_delete_id{
	padding:0px;
}
.pointer_position{
	width:30% !important;
	margin-right:10px;
}

.pointer_property_form input,.pointer_property_form select{
	width:100%;
}
.gritter-close{
	left: auto !important;
	right: 3px !important;
}
.ace-thumbnails>li>.tools.tools-bottom{
	height: 25px;
}
.uploadify {
	text-align: left;
	margin:0px;
}
#sample-table-2_wrapper > div {
	height: 250px;
	overflow: auto;
	overflow-x: hidden;
}
table#search_result_table{
	cursor:default;
}
#search_result > tr:hover>td {
background-color: #CFECFC !important;
}
#search_result > tr:nth-child(2n) {
	background-color:#F1F1F1;
}
#search_result > tr:nth-child(2n+1) {
	background-color:#F3F3F3;
}
#new_image_upload_div{
	
}
.uploadify-button ,object,.uploadify,.uploadify-queue{
	width:100% !important;
}
.tools-bottom a i{
	cursor:pointer;
}
#image_update_hidden_div{
	display:none;
}
.olControlMousePosition.olControlNoSelect{
	margin-bottom:30px !important;
}
#pointer_position_longlatdisp_id{
	width:200px;
	font-size:0.9em;
	margin:0 auto;
}
.pointer_handle{
	position:absolute;
	z-index:5000;
	width:25px;
	height:25px;
}
#pointer_create_button,.edo_age_radio,.meichi_age_radio,.xianzai_age_radio{
	font-size:1em;
	height:30px;
	padding:0px;
	margin-right:10px;
}
#pointer_add_option_panel .right-div{
	height:100%;
}
#image_manage > div > div > div.modal-body > div{
	margin-left:0px;
}
#pointer_ids_id_chosen > a{
	border-radius:0px;
	line-height: 28px;
	height: 30px;
	box-shadow: none;
	background: #fafafa;
}

#pointer_ids_id_chosen{
	
	width:100% !important;	
}
#main-container > div > div.main-content > div.top_header{
	text-align:right;
	padding:2px;
	background-color:#C5E5FF;
}
.widget-container-span{
	
}
.right_span_div{
	height:50%;
	width:auto;
	margin:0px;
	padding:0px;
	float:right;
	z-index:1;
}
.form-group{
	margin:0px;
}
#pointer_display_status_id input{
	width:auto;
}
.right_span_div div.widget-box{
	margin:0px;
	height:100%;
}

.widget-container-span{
	
}
.right-panel-body-ul div{
	border-right:0px;
}
.right-panel-body-ul{
	height:100%;
	margin:0px;
	float:right;
	list-style:none;
	display:inline-flex;
}
.right-panel-body{
	width:340px;
	position:relative;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
}
.right-panel-handler{
	width:20px;
	height:100%;
	text-align:center;
	cursor:pointer;
	border:1px solid #ccc;
	background:#f3f3f3;
	z-index:2;
}
.widget-container-span .widget-box{
	
}
.search_result_div{
	z-index:1;
    min-height: 180px;
	padding:0 10px
}
.bottom_span_div ,.bottom_span_div .widget-box{
	width:100%;
	margin:0px;
	padding:0px;
}
.bottom_span_div{
	position:absolute;
	z-index:2;
}
.alert.alert-danger.pointer_position_alert {
  padding: 10px;
}
.bottom_span_div .widget-header{
	min-height:10px;
	height:20px;
	display:flex;
	cursor:pointer;
	background-image: #f3f3f3;
}
.bottom_span_div .widget-header h5{
	line-height:inherit;
}
.pointer_search_extra_div{
	margin:5px; 	
}

.pointer_paginate_ul{
	float:right;
	margin:0px;
}
.pointer_paginate_ul li{
	cursor:pointer;
}
#search_result_table > thead > tr > th{ 
	height:20px;
	padding:0px;
}
#search_result_table > tbody > tr > td{
	height:20px;
	padding:0px;
}
div#search_loading_status img{
	width:100px;
	height:100px;
}
div#search_loading_status{
	left:40%;
	top:30%;
	text-align:center;
	position:absolute;
	z-index:2;
}
div#search_loading_status p{
	text-align:center;
}
.right_span_div form  div{
	padding-left:0px;
}
.widget-header h5{
	font-weight:bold;
}
.custom-mouse-position{
	position:relative;
}
#mouse-position{
	float:right;
	margin-right:20px;
}
#right_sidebar-collapse{
	border: 0;
}
#bottom_sidebar-collapse{
	border: 0;
	padding: 0;
}
.pagination_info_div{
    padding:2px 12px;
}
.search_panel label{
    margin-bottom:0px;
}
.age_select_div{
    float:left;
    margin-left:20px;
}