.message-footer {
	border-color:#CCCCCC;
	border-style:solid;
	border-width: 1px 1px 0px 1px;
}
#input_category_div label{
	color:#555555;
	margin-right:20px;
}
 th{
	background-color:#8BB8CF;
 	border-width:0 1px 0 0px !important;
 	color:white;
}
td, th{
	text-align:center;
}
.pull-left a{
	padding-left:20px;
	text-decoration:none;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #EEEEEE;
}
.ace-spinner{
	margin-right:20px;
}
.ace-spinner {
    display: inline-table;
}
.ace-spinner .spinner-input {
    color: #777777 !important;
    height: 29px !important;
    line-height: 28px !important;
    text-align: center !important;
}

form.form-search div.row div.col-xs-12.col-sm-12 div#input_category_div.input-group > label {
	margin-left: 20px;
}

form.form-search div.row div.col-xs-12.col-sm-12 div#input_category_div.input-group > input[type="text"] {
	width: 120px;
	margin-right: 20px;
}

form.form-search div.row div.col-xs-12.col-sm-12 div#input_category_div.input-group > button.btn.btn-purple.btn-sm {
	margin-left: 70px;
	margin-top: -5px;
}

div.row div.modal-content div#insert_customer_form_header.modal-header {
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.message-footer {
	border-color:#CCCCCC;
	border-style:solid;
	border-width: 1px 1px 0px 1px;
}
#input_category_div label{
	color:#555555;
	margin-right:20px;
}
 th{
	background-color:#8BB8CF;
 	border-width:0 1px 0 0px !important;
 	color:white;
}
td, th{
	text-align:center;
}
.pull-left a{
	padding-left:20px;
	text-decoration:none;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #EEEEEE;
}
.ace-spinner{
	margin-right:20px;
}
.ace-spinner {
    display: inline-table;
}
.ace-spinner .spinner-input {
    color: #777777 !important;
    height: 29px !important;
    line-height: 28px !important;
    text-align: center !important;
}
.sel_per_page{
	min-width:80px;
	margin-right:20px;
}
#per_page_form{
	float:left;
}

div#input_admin_div > label {
	margin-left: 20px;
}

div#input_admin_div > input[type="text"] {
	margin-right: 20px;
}

div#input_admin_div > button#search_button {
	margin-left: 70px;
	margin-top: -5px;
}